.loginPage {
  min-height: 100vh;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif; //Poppins
  background: #262533;
  .title {
    color: white;
    padding-bottom: 0.7rem;
  }
  .subTitle {
    width: 80%;
    height: 5rem;

    font-size: 0.9rem;
    color: #7d8995;
    text-align: left;

    padding-bottom: 2rem;

    animation-name: slide2;
    animation-duration: 0.5s;
    animation-timing-function: ease;
  }
  .loginBox {
    width: 26.5rem;
    height: 22rem;

    margin: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 0.4rem;
    background: #2a2939;
    box-shadow: RGBA(41, 41, 41, 0.2) 0rem 0rem 3rem;

    transition: all 1s ease;

    animation-name: slide;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    .inputBox {
      width: 90%;
      height: 4rem;

      display: flex;
      flex-direction: column;

      transition: all 1s ease;

      animation-name: slide2;
      animation-duration: 0.5s;
      animation-timing-function: ease;
      input {
        width: 90%;
        height: 3.5rem;

        font-size: 1rem;

        background: RGBA(20, 20, 20, 0.2);
        border-radius: 0.3rem;
        border: none;
        outline: none;

        border-bottom: 0.2rem solid #d8334a;
        margin-bottom: 0.3rem;

        font-weight: 500;
        color: #7d8995;

        padding-top: 1.1rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;

        caret-color: #d8334a;

        transition: all 1s ease;
      }
      input::selection {
        background: RGBA(216, 49, 72, 0.4);
        color: #d8334a;
      }
      .inputEmail {
        width: 100%;
        height: 3.5rem;

        margin-bottom: 1rem;

        position: relative;
        .emailLabel {
          position: absolute;
          bottom: 1rem;
          left: 2rem;
          pointer-events: none;

          color: #7d8995;
          opacity: 0.8;

          transition: all 0.5s ease;
        }
      }
      .inputEmail input:focus {
        height: 4rem;
      }
      .inputEmail input:valid {
        height: 4rem;
      }
      .inputEmail input:focus ~ .emailLabel {
        bottom: 1.6rem;
        font-size: 0.9rem;
        opacity: 0.4;
      }
      .inputEmail input:valid ~ .emailLabel {
        bottom: 1.6rem;
        font-size: 0.9rem;
        opacity: 0.4;
      }
    }
    .loginBtnBox {
      width: 90%;
      height: 5rem;

      animation-name: slide2;
      animation-duration: 0.5s;
      animation-timing-function: ease;
      .loginBtn {
        width: 90%;
        height: 3.5rem;
        cursor: pointer;

        margin-top: 1rem;

        background: #d8334a;
        color: white;

        font-size: 1rem;
        font-weight: 700;

        border: none;
        outline: none;
        border-radius: 0.3rem;

        transition: all ease 1s;
      }
      .loginBtn:hover {
        background: #bf263c;
      }
    }
  }
}
@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(+3.125rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide2 {
  from {
    opacity: 0;
    transform: translateY(+2.125rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
