.registerPage {
  min-height: 100vh;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif; //Poppins
  background: #262533;
  .title {
    font-size: 1.7rem;
    color: white;
  }
  .subTitle {
    font-size: 0.9rem;
    color: #7d8995;

    padding-bottom: 1.4rem;
  }
  .registerBox {
    width: 24rem;
    height: 35rem;

    margin: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 0.4rem;
    background: #2a2939;
    box-shadow: RGBA(41, 41, 41, 0.2) 0rem 0rem 3rem;

    transition: all 1s ease;

    animation-name: slide;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    .inputBox {
      width: 90%;
      height: 10rem;

      display: flex;
      flex-direction: column;

      transition: all 1s ease;

      animation-name: slide2;
      animation-duration: 0.5s;
      animation-timing-function: ease;
      input {
        width: 90%;
        height: 3.5rem;

        font-size: 1rem;

        background: RGBA(20, 20, 20, 0.2);
        border-radius: 0.3rem;
        border: none;
        outline: none;

        border-bottom: 0.2rem solid #67e480;
        margin-bottom: 0.3rem;

        font-weight: 500;
        color: #7d8995;

        padding-top: 1.1rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;

        caret-color: #67e480;

        transition: all 1s ease;
      }
      input::selection {
        background: RGBA(69, 222, 99, 0.4);
        color: #67e480;
      }
      .inputUser {
        width: 100%;
        height: 3.5rem;

        margin-bottom: 1rem;

        position: relative;
        .userLabel {
          position: absolute;
          bottom: 1rem;
          left: 2rem;
          pointer-events: none;

          color: #7d8995;
          opacity: 0.8;

          transition: all 0.5s ease;
        }
      }
      .inputUser input:focus {
        height: 4rem;
      }
      .inputUser input:valid {
        height: 4rem;
      }
      .inputUser input:focus ~ .userLabel {
        bottom: 1.6rem;
        font-size: 0.9rem;
        opacity: 0.4;
      }
      .inputUser input:valid ~ .userLabel {
        bottom: 1.6rem;
        font-size: 0.9rem;
        opacity: 0.4;
      }
      .inputEmail {
        width: 100%;
        height: 3.5rem;

        margin-bottom: 1rem;

        position: relative;
        .emailLabel {
          position: absolute;
          bottom: 1rem;
          left: 2rem;
          pointer-events: none;

          color: #7d8995;
          opacity: 0.8;

          transition: all 0.5s ease;
        }
      }
      .inputEmail input:focus {
        height: 4rem;
      }
      .inputEmail input:valid {
        height: 4rem;
      }
      .inputEmail input:focus ~ .emailLabel {
        bottom: 1.6rem;
        font-size: 0.9rem;
        opacity: 0.4;
      }
      .inputEmail input:valid ~ .emailLabel {
        bottom: 1.6rem;
        font-size: 0.9rem;
        opacity: 0.4;
      }
      .inputPass {
        width: 100%;
        height: 3.5rem;

        margin-bottom: 1rem;

        position: relative;
        .passLabel {
          position: absolute;
          bottom: 1rem;
          left: 2rem;
          pointer-events: none;

          color: #7d8995;
          opacity: 0.8;

          transition: all 0.5s ease;
        }
      }
      .inputPass input:focus {
        height: 4rem;
        margin-bottom: 15rem;
      }
      .inputPass input:valid {
        height: 4rem;
      }
      .inputPass input:focus ~ .passLabel {
        bottom: 1.6rem;
        font-size: 0.9rem;
        opacity: 0.4;
      }
      .inputPass input:valid ~ .passLabel {
        bottom: 1.6rem;
        font-size: 0.9rem;
        opacity: 0.4;
      }
    }
    .registerBtnBox {
      margin-top: 7.5rem;
      width: 90%;
      height: 8rem;

      animation-name: slide2;
      animation-duration: 0.5s;
      animation-timing-function: ease;
      .registerBtn {
        width: 90%;
        height: 3.5rem;
        cursor: pointer;

        margin-top: 1rem;

        background: #67e480;
        color: white;

        font-size: 1rem;
        font-weight: 700;

        border: none;
        outline: none;
        border-radius: 0.3rem;

        transition: all ease 1s;
      }
      .registerBtn:hover {
        background: #38dc58;
      }
      p {
        margin-top: 1.3rem;

        color: #7d8995;
        font-size: 0.85rem;
      }
      a {
        font-weight: 700;
        text-decoration: none;
        color: #67e480;
        transition: all 1s ease;
      }
      a:hover {
        color: #38dc58;
      }
    }
  }
}
@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(+3.125rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide2 {
  from {
    opacity: 0;
    transform: translateY(+2.125rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
